

#french_wines {
  text-align: center;
  cursor: pointer;
}

.modal-body p {
  font-size: 15px;
}

.seventeen p {
  font-size: 17px !important;
}

#bordeaux .modal-body p {
  font-size: 17px !important;
}